/Simple-Linear-Regression/.idea/
/Simple-Linear-Regression/venv/
/Data-processing-template/.idea/
/Data-processing-template/venv/
/Multiple-Linear-Regression/.idea/
/Multiple-Linear-Regression/venv/
/Polynomial-Regression/.idea/
/Polynomial-Regression/venv/
/Housing-Prize-Prediction/.idea/
/Housing-Prize-Prediction/venv/
/Support-Vector-Regression/.idea/
/Support-Vector-Regression/venv/
/Decision-Tree-Regression/.idea/
/Decision-Tree-Regression/venv/